button{
    font-weight: bold important;
}
input{
    width: 20rem;
    background-color: rgb(243, 237, 237);
    border: none;
    color: black;
    padding: 4px;
    border-radius: 10px;
}
input:focus{
    outline: none;
}
.food{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 2rem;
}
body::-webkit-scrollbar{
    display: none;
}